<div class="order-detail">

  <p>
    <strong>First Name:</strong>
    <%= @order.user[:first_name]%>
  </p>
  <p>
    <strong>Last Name:</strong>
    <%= @order.user[:last_name]%>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @order.user[:email]%>
  </p>
  
  <p>
    <strong>Address:</strong>
    <%= @order.user[:address]%>
  </p>


        <%= link_to 'Back', orders_path %>

</div>