<!DOCTYPE html>
<html>
  <head>
    <title>LuckyAsianGroceryBackEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= cloudinary_js_config %>

  
  </head>

  <body>
  <h1>Lucky Asian Grocery Back End</h1>
  <h2>ADMIN</h2>
  <%= link_to "Home", root_path %> |
  <%= link_to "All Users", users_path %> |
  <%= link_to "All Categories", categories_path %> |
  <%= link_to "All Products", products_path %> |
  <%= link_to "All Orders", orders_path %>
    

    <%= yield %>
  </body>
</html>
